CONFIG_IDF_TARGET="esp32p4"
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_ESP_TASK_WDT_INIT=n
CONFIG_ESP_SYSTEM_MEMPROT_FEATURE=n

# PSRAM
CONFIG_SPIRAM=y
CONFIG_SPIRAM_MODE_HEX=y
CONFIG_SPIRAM_SPEED_200M=y

# Use newlib instead of picolibc (picolibc.ld breaks hotreload ELF linking)
CONFIG_LIBC_NEWLIB=y

# Networking via internal EMAC (ESP32-P4-Function-EV-Board)
CONFIG_EXAMPLE_CONNECT_ETHERNET=y
CONFIG_EXAMPLE_CONNECT_WIFI=n
